<div id="contenedorPedidos" class="container bg-secondary bg-gradient rounded p-3" style="--bs-bg-opacity: .4; border-style: dashed;">
    <div id="pedidos" class="bg-gradient">
        <div style="display: none;">
            <div id="pedido_0"  class="row row-cols-1 row-cols-sm-2 row-cols-md-5">
                <div class="">
                    <label for="codigo" class="form-label">Cod Productos</label>
                    <input type="text" class="form-control" name="codigo" id="codigo" placeholder="codigo del producto">
                </div>
                <div class="">
                    <label for="" class="form-label">nombre del producto</label>
                    <input type="text" class="form-control" name="nombre_pro" id="" placeholder="nombre del producto">
                </div>
                <div class="">
                    <label for="cantidad" class="form-label">Cantidad</label>
                    <input type="text" class="form-control" name="cantidad" id="" value="1" placeholder="Cantidad">
                </div>
                <div class="">
                    <label for="valor" class="form-label">Valor unit.</label>
                    <input type="text" class="form-control" name="valor" id="" placeholder="Valor unit">
                </div>
                <div class="mt-4">
                    <button type="button" class="btn btn-outline-danger" data-row="" style="width: 80px; height: 50px; ">+</button>
                    <button type="button" class="btn btn-outline-success" data-row="" style="width: 80px; height: 50px;">-</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container g-0">
    <div class="row row-cols-sm-3 mt-3">
    <div>
        <button type="button" class="btn w-100 btn-lg btn-outline-info">Send</button>
    </div>
    <div>
        <button type="button" class="btn w-100 btn-lg btn-outline-secondary">Details</button>
    </div>
    <div>
        <button type="button" id="btnadd" class="btn w-100 btn-lg btn-outline-warning">Add</button>
    </div>
    </div>
</div>